.bignav-trigger {
  position: relative;
  z-index: 999;
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.bignav-trigger.hidden {
  opacity: 0;
}
.bignav {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: white;
  overflow-y: scroll;
}
.bignav .bignav-container {
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
}
.bignav.bignav-open {
  visibility: inherit;
}
.bignav.bignav-open .bignav-container {
  transform: scale(1);
}
.bignav li {
  position: relative;
  padding-left: 15px;
}
.bignav span.bignav-sub-open {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  font-size: 20px;
}
.bignav ul.sub-nav {
  overflow: hidden;
  display: none;
}
